<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="RealRobot" type="system">
        <hardware>
            <xacro:if value="$(arg is_sim)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <xacro:unless value="$(arg is_sim)">
                <plugin>mock_components/GenericSystem</plugin>
            </xacro:unless>
        </hardware>

        <joint name="left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

</robot>