setuptools==65.5.1
wheel==0.38.4
numpy==1.19.5
torch==2.1.0
torchvision==0.16.0
gym==0.26.2
dgl==1.1.2
matplotlib==3.6.3
tensorboard==2.14.0
tensorboardx==2.4
scipy==1.10.1
pandas==1.4.4
seaborn==0.12.2
tqdm==4.66.1
pyyaml==6.0.1
psutil==5.9.6
social force==0.2.3
quadprog==0.1.11
pyglet==1.5.15
pillow==8.2.0
opencv-python
catkin-pkg==1.0.0
rospkg==1.5.1
